p{
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
}
table{
	border: 2px solid green;

}
tr,td{
	border: 1px solid green;
}
img{
	width: 50pt;
	height: 50pt;
	border: 1px solid black;
}